*, *::before, *::after{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

:root{
    --white:hsl(0, 0%, 100%);
    --light-gray:hsl(212, 45%, 89%);
    --graish-blue:hsl(220, 15%, 55%);
    --dark-blue:hsl(218, 44%, 22%);
}

body{
    background-color: var(--light-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.qr-code{
    max-width: 100%;
    border-radius: 15px;
}

.main-card{
    max-width: 350px;
    background-color: var(--white);
    padding: 1em;
    border-radius: 15px;
    font-family: 'Outfit', sans-serif;
    margin: 2em;
}

.info-text{
    padding: 1em;
}

.info-text h1{
    color: var(--dark-blue);
    font-size: 24px;
}

.info-text p{
    color: var(--graish-blue);
}

.info-text h1,
.info-text p{
    margin: 1.5em 0;
    text-align: center;
}

footer{
    font-family: 'Outfit', sans-serif;
    text-align: center;
}

footer a{
    text-decoration: none;
    color: var(--dark-blue);
}

@media screen and (max-width:400px) {
    .info-text h1{
        font-size: 20px;
        margin: 0;

    }
    .info-text p{
        font-size: 14px;
    }
}

@media screen and (max-width:300px) {
    .info-text{
        padding: 0;
    }
    .info-text h1{
        font-size: 15px;
    }
}
